{{ template "base" .}}
{{ define "title"}}
About
{{ end }}
{{define "content"}}
<div class="w3-row">
  <h2>About</h2>
  <p class="w3-center">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa, ea? Rem,
    praesentium temporibus quo aliquam qui magnam voluptatem reiciendis
    veritatis? Ratione itaque accusantium nesciunt deserunt dolores adipisci
    commodi maxime reprehenderit?
  </p>
</div>
{{ end }}
