{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{block "title" .}}

      {{ end }}
    </title>
  </head>
  <body>
    <div class="w3-container">
      {{block "content" .}}

      {{ end }}
    </div>
  </body>
</html>
{{ end }}
